@font-face {
  src: url('../../vendor/fonts/Inter-Regular.ttf');
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url('../../vendor/fonts/Inter-Bold.ttf');
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
}

@font-face {
  src: url('../../vendor/fonts/Inter-Black.ttf');
  font-family: 'Inter';
  font-weight: 900;
  font-style: normal;
}

.page{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #2A2C2F;
  color: #ffffff;
}
