.photo-grid__item {
  align-self: flex-start;
  box-sizing: border-box;
  object-fit: cover;
  margin: 0;
}

@media screen and (min-width: 1280px) {
  .photo-grid__item {
    max-width: calc((100% - 48px) / 4);
    margin-right: 16px;
    margin-bottom: 16px;
  }


  .photo-grid__item:nth-child(4n) {
    margin-right: 0;
  }

  .photo-grid__item:nth-last-child(-n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid__item{
    max-width: calc((100% - 28px) / 3);
    margin-right: 14px;
    margin-bottom: 14px;
  }

  .photo-grid__item:nth-child(3n) {
    margin-right: 0;
  }

  .photo-grid__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

@media screen and  (min-width: 768px) and (max-width: 1023px){
  .photo-grid__item{
    max-width: calc((100% / 2) - 8px);
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .photo-grid__item:nth-child(2n) {
    margin-right: 0;
  }

  .photo-grid__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__item{
    max-width: 100%;
    margin: 0;
    margin-bottom: 12px;
  }

  .photo-grid__item:last-child {
    margin-bottom: 0;
  }
}
