.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: stretch;
  margin: 92px 48px 0 48px;
  background-image: url('../../image/cover-trains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  max-width: 100%;
}
