.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 92px auto 0 auto;
  max-width: 1184px;
  max-height: 740px;
  background-image:url('../../images/cover-trains.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1279px) {
  .cover{
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 425px) {
  .cover{
    margin-top: 66px;
  }
}
