.place{
  display: grid;
  align-self: center;
  max-width: 1440px;
  margin: 0;
  margin-bottom: 80px;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "title website"
  "image paragraph";
}


@media screen and (max-width: 1440px) {
  .place{

  }
}

@media screen and (max-width: 1280px) {
  .place{
    column-gap: 32px;
  }
}

@media screen and (max-width: 1024px) {
  .place{
    column-gap: 28px;
  }
}

@media screen and (max-width: 768px) {
  .place{
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    max-width: 100%;
    margin-bottom: 50px;
    column-gap: 0;
  }

  .place:last-child {
    margin-bottom: 0;
  }
}
