.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 1184px;
  min-width: 288px;
  margin: 92px auto 24px auto;
}

@media screen and (max-width: 1280px) {
  .footer{
    max-width: calc(100% - 96px);
    margin: 28px 48px 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .footer{
    max-width: calc(100% - 48px);
    margin: 28px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 62px auto 24px 16px;
  }
}

