.footer__list-item {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 18px;
}

.footer__list-item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__list-item {
    display: block;
    margin: 0;
    margin-bottom: 32px;
  }
  .footer__list-item:last-child {
    margin-bottom: 0;
  }
}

